<header>
  <div class="header-container">
    <!-- Logo o nombre del sitio -->
    <div class="logo">
      <a href="../index.html">Qetsy Web</a>
    </div>

    <!-- Navegación -->
    <div id="nav-placeholder"></div>
  </div>
</header>

 <!-- Modo de uso -->


<!-- Contenedor para el header -->

<!-- 

<div id="header-placeholder"></div>

<script>
  // Cargar header
  fetch('../components/header.html')
    .then(res => res.text())
    .then(data => {
      document.getElementById('header-placeholder').innerHTML = data;
      // Luego cargar nav dentro del header
      fetch('../components/nav.html')
        .then(res => res.text())
        .then(navData => {
          document.getElementById('nav-placeholder').innerHTML = navData;
        });
    });
</script>
-->
