<nav>
  <a href="../index.html">Inicio</a> |
  <a href="../blog/index.html">Blog</a> |
  <a href="../shop/index.html">Tienda</a> |
  <a href="../free/index.html">Contenido Free</a> |
  <a href="../about.html">Sobre mí</a>
</nav>

<!--
  Esto es un comentario
  que puede ocupar varias líneas
  en tu archivo HTML.

Modo de uso 

<div id="nav"></div>

<script>
  fetch('../components/nav.html')
    .then(res => res.text())
    .then(data => {
      document.getElementById('nav').innerHTML = data;
    });
</script>


-->
